{{ define "main" }}
<article class="grant-page">
    <header>
        <div class="hero-title-container">
            <h1>Bienvenido a {{ .Site.Title }}</h1>
        </div>
    </header>

    <h2 class="section-title">Últimas Actualizaciones</h2>

    <ul class="grant-list">
        {{ range .Site.RegularPages }}
        <li class="grant-card">
            <span class="badge">📅 ACTUALIZADO: {{ dateFormat "02/01/2006" .Date }}</span>
            {{ with .Params.region }}<span class="badge">📍 {{ . | title }}</span>{{ end }}
            {{ with .Params.beneficiario }}<span class="badge">👥 {{ . | title }}</span>{{ end }}

            <div class="grant-item-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>

            <div class="grant-meta grant-item-meta">
                <span>🛑 AYUDAS ACTIVAS: {{ .Params.count }}</span>
            </div>
        </li>
        {{ end }}
    </ul>
</article>
{{ end }}
