<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <article class="grant-page">
            <header>
                <div class="hero-title-container">
                    <h1>Bienvenido a {{ .Site.Title }}</h1>
                </div>
            </header>

            <h2 class="section-title">Últimas Actualizaciones</h2>

            <ul class="grant-list">
                {{ range .Site.RegularPages }}
                    <li class="grant-card">
                        <span class="badge">📅 ACTUALIZADO: {{ dateFormat "02/01/2006" .Date }}</span>
                        {{ with .Params.region }}<span class="badge">📍 {{ . | title }}</span>{{ end }}
                        {{ with .Params.beneficiario }}<span class="badge">👥 {{ . | title }}</span>{{ end }}

                        <div class="grant-item-title">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </div>
                        
                        <div class="grant-meta grant-item-meta">
                            <span>🛑 AYUDAS ACTIVAS: {{ .Params.count }}</span>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </article>
    </main>
</body>
</html>